card_game/.vscode
card_game/card

calendar/calendar 
calendar/.vscode

factor/.vscode 
factor/factor
factor/factor1
factor/factor2
factor/factor3
factor/factor4

sudoku/sudoku2
sudoku/sudoku3
sudoku/.vscode
sudoku/sudoku_ans_format.txt
sudoku/sudoku_ans.txt
sudoku/sudoku.txt
sudoku/Ke/dfs_byKe
sudoku/sudoku_ans_2.txt
sudoku/Ke/race
sudoku/blank
